<div class="container post-body">
  <h1>About Food Blog</h1>
  <p>
    Our blog is ran by Tammy Dang and Renee Mei. We studied web programming at epicodus and found that we have such a desire for food so we drop out of epicodus and built this website.
  </p>
</div>
