<div class="container post-body">
  <h1>Contact Us</h1>
  <p>
    Want to have your food article posted on Food Blog? You can email us at help@foodblog.com and we will determine if your article is good enough for our site.
  </p>
</div>
