<h1>Contact Us</h1>
{{#link-to 'index'}}Home{{/link-to}} {{#link-to 'about'}}About{{/link-to}}
<p>
  Want to have your food article posted on Food Blog? You can email us at help@foodblog.com and we will determine if your article is good enough for our site.
</p>
